<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Signup</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <style>
        .maxText {
        height: 100px;
        }
        .bg-verde-scuro {
        background: #014017
        }
        .verde-scuro {
        color: #014017
        }
         .bg-verde-medio {
        background: #33A614
        }
        .verde-medio {
        color: #33A614
        }
        .bg-verde-chiaro {
        background: #68D11F
        }
        .verde-chiaro {
        color: #68D11F
        }
        .bg-verde-blu {
        background: #013832
        }
        .verde-blu {
        color: #013832
        }
        .bg-bianco {
        background: #F2F2F2
        }
        .bianco {
        color: #F2F2F2
        }
        .arancione{
        color: #DC4001
        }
        .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
        }
    </style>
    <body>

<!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
<!-- Spinner End -->

{% if flagLog == False %}
<!-- Navbar start senza essere loggati -->
<div class="container-fluid fixed-top bg-bs-dark bg-verde-scuro">
    <div class="container topbar bg-verde-medio d-none d-lg-block">
        <div class="d-flex justify-content-center">
            <h5 class="text-light">Siamo un marchio che ispira e guida le persone verso scelte alimentari migliori!
                🌱🍎🥦</h5>
        </div>
    </div>

    <div class="container px-0">
        <nav class="navbar navbar-light bg-verde-scuro navbar-expand-xl">
            <a href="#" class="navbar-brand"><h1 class="bianco display-6">SpeSana</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-verde-scuro" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/product" class="nav-item nav-link">Prodotti</a>
                    <a href="/nutriscore" class="nav-item nav-link">Nutriscore</a>
                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="fas fa-search verde-scuro"></i></button>
                    <div class="nav-item dropdown">
                        <a type="button" class="btn bg-verde-chiaro bianco dropdown-toggle" data-bs-toggle="dropdown"
                           data-bs-display="static" aria-expanded="false">
                            <i class="fas fa-user bianco fa-2x"></i>
                        </a>
                        <div class="dropdown-menu m-0 bg-secondary bianco rounded-0">
                            <a href="/login" class="dropdown-item">Login</a>
                            <a href="/signup" class="dropdown-item">Registrati</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
{% else %}

<!-- Navbar start login -->
<div class="container-fluid fixed-top bg-bs-dark bg-verde-scuro">
    <div class="container topbar bg-verde-medio d-none d-lg-block">
        <div class="d-flex justify-content-center">
            <h5 class="text-light">Siamo un marchio che ispira e guida le persone verso scelte alimentari migliori!
                🌱🍎🥦</h5>
        </div>
    </div>

    <div class="container px-0">
        <nav class="navbar navbar-light bg-verde-scuro navbar-expand-xl">
            <a href="#" class="navbar-brand"><h1 class="bianco display-6">SpeSana</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-verde-scuro" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/product" class="nav-item nav-link">Prodotti</a>
                    <a href="/nutriscore" class="nav-item nav-link">Nutriscore</a>
                </div>
                <div class="bianco">Ciao {{ utente.Name }} {{ utente.Surname }}</div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="fas fa-search verde-scuro"></i></button>
                    <div class="nav-item dropdown">
                        <a type="button" class="btn bg-verde-chiaro bianco dropdown-toggle" data-bs-toggle="dropdown"
                           data-bs-display="static" aria-expanded="false">
                            <i class="fas fa-user bianco fa-2x"></i>
                        </a>
                        <div class="dropdown-menu m-0 bg-secondary bianco rounded-0">
                            <a href="/profilo" class="dropdown-item">Il mio profilo</a>
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
{% endif %}

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                           aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Signup</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/login">Login</a></li>
                <li class="breadcrumb-item active text-white">Signup</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- signup Start -->
        <div class="container-fluid contact py-1">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <form action="/submit" method="POST">
                        <div class="d-flex row g-4">
                            <div class="col-lg-4" style="border-right: 2px solid #014017">
                                <h6 class="verde-scuro">Informazioni generali:</h6>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Nome</h6>
                                        <input type="text" name="nome_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Cognome</h6>
                                        <input type="text" name="cognome_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Email</h6>
                                        <input type="text" name="email_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Password</h6>
                                        <input type="password" name="password_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4" style="border-right: 2px solid #014017">
                                <h6 class="verde-scuro">Informazioni personali:</h6>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Sesso</h6>
                                        <select class="form-select w-100 border-0 py-1 mb-3" name="genere_signup" style="width: min-content" id="validationServer03" aria-describedby="validationServer04Feedback" required>
                                            <option></option>
                                            <option> M</option>
                                            <option> F</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Età</h6>
                                        <select class="form-select w-100 border-0 py-1 mb-3" name="eta_signup" style="width: min-content" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                            <option></option>
                                            {% for i in range(18,61) %}
                                            <option> {{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Peso (Kg)</h6>
                                        <input type="text" name="peso_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Altezza (cm)</h6>
                                        <input type="text" name="altezza_signup" class="w-100 form-control border-0 py-1 mb-3" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <h6 class="verde-scuro">Preferenze:</h6>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Obiettivo</h6>
                                        <select class="w-100 form-select border-0 py-1 mb-4" name="obiettivo_signup" style="width: min-content" id="validationServer09" aria-describedby="validationServer04Feedback" required>
                                            <option></option>
                                            <option> Dimagrire </option>
                                            <option> Mantenersi in forma </option>
                                            <option> Aumentare la massa muscolare </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6>Livello di attività</h6>
                                        <select class="w-100 form-select border-0 py-1 mb-3" name="livello_attivita_signup" style="width: min-content" id="validationServer10" aria-describedby="validationServer04Feedback" required>
                                            <option></option>
                                            <option> Sedentario </option>
                                            <option> Leggermente attivo </option>
                                            <option> Moderatamente attivo </option>
                                            <option> Molto Attivo </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-1 rounded mb-2 bg-white">
                                    <div>
                                        <h6 class="dropdown-toggle" data-bs-toggle="dropdown" aria-labelledby=dropdownMenuButton>Categorie preferite</h6>
                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                            <li><label><input type="checkbox" name="categoria1" value="Cereali e patate">Cereali e patate</label></li>
                                            <li><label><input type="checkbox" name="categoria2" value="Legumi">Legumi</label></li>
                                            <li><label><input type="checkbox" name="categoria3" value="Formaggi">Formaggi</label></li>
                                            <li><label><input type="checkbox" name="categoria4" value="Prodotti A Base Di Carne">Prodotti A Base Di Carne</label></li>
                                            <li><label><input type="checkbox" name="categoria5" value="Cibi A Base Di Frutta E Verdura">Cibi A Base Di Frutta E Verdura</label></li>
                                            <li><label><input type="checkbox" name="categoria6" value="Latticini">Latticini</label></li>
                                            <li><label><input type="checkbox" name="categoria7" value="Biscotti">Biscotti</label></li>
                                            <li><label><input type="checkbox" name="categoria8" value="Cibi E Bevande A Base Vegetale">Cibi E Bevande A Base Vegetale</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="w-100 btn btn-secondary border-3 border-secondary bg-verde-scuro text-light py-3" type="submit">Registrati</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact End -->

<!-- Footer Start -->
<div class="container-fluid bg-verde-scuro text-white-50 footer pt-3 mt-5">
    <div class="container">
        <div class="pb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-light mb-0">SpeSana</h1>
                        <p class="text-secondary mb-0">Nutri la tua mente e il tuo corpo</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative text-center mx-auto">
                        <h5 class="text-light mt-2 mb2">Progetto Finale del corso</h5>
                        <h5 class="text-light">Jr. Data Engineer - DAITA 12.</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="d-flex justify-content-end pt-3">
                        <img src="static/imgTest/logo-generation.svg">
                    </div>
                </div>
            </div>
             <h5 class="text-light mt-4 mb-3 text-center">Sviluppato da:</h5>
            <p class="mb-2 text-center"><a class="text-light text-decoration-underline" href="//www.linkedin.com/in/armando-izaguirre-la-rocca/"> Armando Izaguirre </a>-
                <a class="text-light text-decoration-underline" href="//www.linkedin.com/in/benedetta-aversano/"> Benedetta Aversano </a>-
                <a class="text-light text-decoration-underline" href="//www.linkedin.com/in/marco-de-sio-5b87b7196/"> Marco de Sio </a>-
                <a class="text-light text-decoration-underline" href="//www.linkedin.com/in/stefano-crivella/"> Stefano Crivella </a>-
                <a class="text-light text-decoration-underline" href="//www.linkedin.com/in/riccardo-benedetti-44aa70299/"> Riccardo Benedetti </a>



        </div>
    </div>
</div>
<!-- Footer End -->

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/lightbox/js/lightbox.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
    </body>

</html>